@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<form>
    <h1 class="h3 mb-3 fw-normal">Book's List</h1>
    <button class="btn btn-lg btn-primary" asp-action="Create">Create</button>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <th>@m.Id</th>
                        <th>@m.Name</th>
                        <th>@m.Author</th>
                        <th>@m.Year</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
